{{- $headers := findRE "<h[1-5].*?>(.|\n])+?</h[1-5]>" .Content -}}
{{ .Scratch.Set "last_level" -1 }}
{{- $has_headers := ge (len $headers) 1 -}}
{{- if $has_headers -}}
<div class="toc sub-container">
    <div class="toc-header animated fadeInDown">
        <span>目录</span>
    </div>
    {{- range $headers -}}
        {{- $last_level := $.Scratch.Get "last_level" -}}
        {{- $header := . -}}
        {{- range findRE "[1-5]" . 1 -}}
            {{- $next_level := (int .) -}}
            {{- if eq $last_level -1 -}}
                <ul class="toc-h{{ . }} animated fadeInDown">
            {{- else if gt $next_level $last_level -}}
                {{- range seq (add $last_level 1) $next_level}}
                    <ul class="toc-h{{ . }}">
                {{- end -}}
            {{- else if lt $next_level $last_level -}}
                {{- range seq (add $next_level 1) $last_level}}
                    </ul>
                {{- end -}}
            {{- end -}}
            <li>
                <span class="toc-link">
                    {{- $header | plainify | htmlUnescape -}}
                </span>
            </li>
            {{ $.Scratch.Set "last_level" $next_level }}
        {{- end -}}
    {{- end -}}
    </div>
{{- end -}}