{{ define "main" }}
<div class="main">
  <!-- 左侧菜单 -->
  {{- partial "components/sidebar.html" . -}}
  <div class="container">
    <ul class="list animated fadeInDown">
      <div class="list-title">Categories</div>
      <div class="list-category">
        {{ range .Data.Terms.ByCount }}
        <a class="category" href="/categories/{{ .Name | urlize }}/">
          {{ .Name }}
        </a>
        {{ end }}
      </div>
      {{ range .Data.Terms.ByCount }}
      <div class="sub-list-title">
        {{ .Name }} ({{ .Pages | len }})
      </div>
      <ul class="sub-list">
        {{ range .Pages }}
        <li class="list-item">
          <span class="item-date">
            {{.Date.Format "2006-01-02" }}
          </span>
          <a class="item-link" href="{{ .Permalink }}" title="{{ .File.BaseFileName }}">
            {{ .File.BaseFileName }}
          </a>
        </li>
        {{ end }}
      </ul>

      {{ end }}

    </ul>
  </div>


</div>
{{ end }}