@charset "UTF-8";

body {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  font-family: 'Noto Serif SC', Microsoft Yahei, PingFang SC, Arial, Verdana, sans-serif!important;
  -webkit-text-stroke: 0.1px;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  height: 10px !important;
  width: 10px !important;
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  background-color: rgb(119, 119, 122) !important;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.main .container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .sub-container {
  width: 25%;
  background-color: var(--sidebar-bg-color);
}

/* 左侧菜单 */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: var(--txt-color);
  padding: 20px 0;
}

.sidebar .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.sidebar .title .title-img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border: 10px solid var(--sidebar-title-img-border-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.sidebar .title .title-img:hover {
  transform: rotateZ(360deg);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.sidebar .title .title-txt {
  color: var(--sidebar-title-txt-color);
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  white-space: nowrap;
}

.sidebar .title .title-txt:hover {
  color: #4d78cc;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.sidebar .link {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.sidebar .link .link-item a {
  display: inline-block;
  margin: 10px;
}

.sidebar .link .link-item a .link-icon {
  font-size: 30px;
  color: var(--txt-color);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.sidebar .link .link-item a .link-icon:hover {
  color: #4d78cc;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.sidebar .nav {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.nav .nav-item {
  margin: 10px;
}

.nav .nav-item a {
  font-size: 14px;
  color: var(--txt-color);
}

.nav .nav-item a:hover {
  font-weight: 700;
  color: #4d78cc;
}

.nav .nav-item a.current {
  padding-bottom: 5px;
  border-bottom: 3px solid var(--txt-color);
}

.sidebar .footer {
  position: absolute;
  bottom: 20px;
  color: var(--txt-color);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  opacity: 0.8;
}

/* 文章列表 */

.post-list .list-item {
  color: var(--txt-color);
  font-size: 15px;
  padding: 40px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--main-bg-color);
  white-space: nowrap;
}

.post-list .list-item .item-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--txt-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-list .list-item .item-title:hover {
  color: #4d78cc;
}

.post-list .list-item .item-info {
  margin-top: 20px;
}

/* 分页 */

.pagination {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txt-color);
}

.pagination ul {
  margin: 0;
  padding: 0;
  height: 40px;
}

.pagination ul li {
  display: block;
  margin: 0 10px;
  list-style: none;
}

.pagination ul li a {
  color: var(--txt-color);
}

.pagination ul li a:hover {
  color: #4d78cc;
  font-weight: 700;
}

.pagination .pre {
  float: left;
}

.pagination .next {
  float: right;
}

/* 单个文章样式 */

.single-post {
  background-color: var(--main-bg-color);
  scroll-behavior: smooth;
}

.single-post .post {
  width: 75%;
  color: var(--txt-color);
  font-size: 15px;
  margin: 0 auto;
}

.single-post .post .header {
  margin: 40px 0;
  padding: 30px 0;
  border-bottom: 1px solid var(--border-color);
}

.single-post .post .header .title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--txt-color);
}

.single-post .post .header .info {
  margin-top: 30px;
  font-size: 15px;
}

.single-post .post .header .info span {
  display: inline-block;
  margin-right: 10px;
}

.single-post .post .footer {
  margin: 40px 0;
  padding: 30px 0;
  border-top: 1px solid var(--border-color);
}

/* toc样式 */

.toc {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.toc .toc-header {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--txt-color);
  margin: 0 0 20px 25px;
}

.toc ul {
  font-size: 15px;
  color: var(--txt-color);
  list-style: none;
  display: block;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 25px;
  user-select: none;
}

.toc ul li {
  display: block;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

.toc ul li .toc-link {
  color: var(--txt-color);
  white-space: nowrap;
  cursor: pointer;
}

.toc ul li .toc-link.active {
  color: #4d78cc;
  font-weight: 700;
}

/* .toc ul li .toc-link::before {
  content: '#';
  display: inline-block;
  margin-right: 5px;
  color: #4d78cc;
} */

.toc ul li .toc-link:hover {
  color: #4d78cc;
  font-weight: 700;
}

/* menu样式 */

.menu {
  display: flex;
  flex-direction: column;
  width: 25px;
  position: fixed;
  left: auto;
  right: -30px;
  top: 25px;
  bottom: auto;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.menu.show {
  transform: translateX(-60px);
}

.menu .menu-item {
  margin: 3px 0;
}

.menu .menu-item .item-btn {
  font-size: 25px;
  color: var(--txt-color);
}

.menu .menu-item .item-btn:hover {
  color: #4d78cc;
}

/* 归档样式 */

.list {
  display: block;
  list-style: none;
  margin-block-start: 40px;
  margin-block-end: 40px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}

.list .list-title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--txt-color);
  margin: 25px 0;
}

/* 分类&标签容器 */
.list .list-category,
.list-tag {
  line-height: 1;
  margin: 25px 0;
}

.list .sub-list-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--txt-color);
  margin: 15px 0;
}

.list .sub-list {
  /* border-left: 3px solid #4d78cc; */
  display: block;
  list-style: none;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 25px;
}

.list .sub-list .list-item {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.list .sub-list .list-item .item-date {
  display: inline-block;
  margin-right: 20px;
  color: var(--txt-color);
  white-space: nowrap;
}

.list .sub-list .list-item .item-link {
  color: var(--txt-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list .sub-list .list-item .item-link:hover {
  color: #4d78cc;
  font-weight: 700;
}

/* 类别标签样式 */

.category {
  display: inline-block;
  color: var(--txt-color);
  font-size: 14px;
  font-weight: 700;
  margin: 5px;
  padding: 8px;
  border-radius: 3px;
  background-color: var(--category-bg-color);
  color: var(--category-txt-color);
  /* box-shadow      : 0 3px 5px 0 rgba(0, 0, 0, 0.3); */
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.category:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

/* tag标签样式 */
.tag {
  display: inline-block;
  color: var(--txt-color);
  font-size: 14px;
  font-weight: 700;
  margin: 7px;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.tag:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  color: #4d78cc;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

/* 导航链接样式 */

.links-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 5px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--txt-color);
  background-color: var(--link-bg-color);
  white-space: normal;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.links-item:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.percentage_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: transparent;
  z-index: 2;
}

.percentage {
  width: 0%;
  height: 100%;
  background-color: #4d78cc;
  transition: width 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.friend-link-list {
  color: var(--txt-color);
}
