{{ $shims := dict "pangu" "js/lib/pangu.js"  "docsearch" "js/lib/docsearch.js"  "function" "js/lib/function.js" }}

{{ $global := resources.Get "js/global.js" }}
{{ $theme := resources.Get "js/theme.js" }}
{{ $search := resources.Get "js/search.js" }}
{{ $single := resources.Get "js/single.js" }}
{{ $pwa := resources.Get "js/pwa.js" }}

{{ $js := slice $global $theme $search $single $pwa | resources.Concat "js/util.js" | js.Build (dict "shims" $shims ) }}
{{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $secureJS.Permalink }}" integrity="{{- $secureJS.Data.Integrity -}}"></script>